* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Header CSS */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header img{
    margin-right: 15px;
    border-radius: 10px;
    border: solid #0a7575 3px;
}

/* Body CSS */

.main-body{
  min-height: 500px;
}

/* Footer CSS */
footer{
  background-color: #0a7575;
}